<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchara - Luxury Watches</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-helvetica_now_display bg-cover bg-center"
    style="background-image: url('https://images.unsplash.com/photo-1594534475808-b18fc33b045e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">

    <nav class="flex items-center justify-between flex-wrap bg-white shadow-lg p-6">
        <h3 class="font-bold text-yellow-500 text-2xl">Crown Wrist Wear</h3>
        <div class="block lg:hidden">

        </div>
    </nav>

    <div class="container mx-auto relative">
        <% if (error && error.length> 0) { %>
            <div id="flash-message"
                class="absolute top-20 left-1/2 transform -translate-x-1/2 p-4 rounded-md bg-red-500 text-white shadow-lg animate-bounce">
                <%= error %>
            </div>
            <% } %>

                <% if (success && success.length> 0) { %>
                    <div id="flash-message"
                        class="absolute top-20 left-1/2 transform -translate-x-1/2 p-4 rounded-md bg-green-500 text-white shadow-lg animate-bounce">
                        <%= success %>
                    </div>
                    <% } %>
    </div>

    <div class="container mx-auto min-h-screen flex items-center justify-center">
        <div class="flex flex-col lg:flex-row bg-white bg-opacity-90 p-8 rounded-lg shadow-2xl max-w-4xl w-full">
            <!-- Registration Form -->
            <div class="flex flex-1 items-center justify-center p-5 bg-gray-100 rounded-l-lg">
                <div class="w-full max-w-md">
                    <h3 class="text-4xl font-bold mb-6 text-center text-gray-900">Welcome to <br> <span
                            class="text-yellow-500">Crown Wrist Wear</span></h3>
                    <h4 class="text-2xl mb-6 text-center text-gray-600">Create your account</h4>
                    <form autocomplete="off" action="/users/register" method="post" class="space-y-6">
                        <input class="w-full px-4 py-3 border rounded-md bg-gray-200 focus:ring-2 focus:ring-yellow-500"
                            type="text" placeholder="Full Name" name="fullName">
                        <input class="w-full px-4 py-3 border rounded-md bg-gray-200 focus:ring-2 focus:ring-yellow-500"
                            type="email" placeholder="Email" name="email">
                        <input class="w-full px-4 py-3 border rounded-md bg-gray-200 focus:ring-2 focus:ring-yellow-500"
                            type="password" placeholder="Password" name="password">
                        <input
                            class="w-[15vw] py-2 rounded-full bg-yellow-500 text-gray-900 font-bold hover:bg-yellow-600 transition duration-300"
                            type="submit" value="Create My Account">
                    </form>
                </div>
            </div>

            <!-- Login Form -->
            <div class="flex flex-1 items-center justify-center p-8 bg-gray-200 rounded-r-lg">
                <div class="w-full max-w-md">
                    <h4 class="text-2xl mb-6 text-center text-gray-600">Login to your account</h4>
                    <form autocomplete="off" action="/users/login" method="post" class="space-y-6">
                        <input class="w-full px-4 py-3 border rounded-md bg-gray-300 focus:ring-2 focus:ring-yellow-500"
                            type="email" placeholder="Email" name="email">
                        <input class="w-full px-4 py-3 border rounded-md bg-gray-300 focus:ring-2 focus:ring-yellow-500"
                            type="password" placeholder="Password" name="password">
                        <input
                            class="w-[8vw] py-2 rounded-full bg-yellow-500 text-gray-900 font-bold hover:bg-yellow-600 transition duration-300"
                            type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>